.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item img {
    border: 1px solid orangered;
    width: 100%;
    cursor: pointer;
}

img:hover {
    transform: scale(1.5);
}

#text {
    height: auto;
    width: auto;
    background-color: #34a58e;
    text-align: center;
    border: 2px solid greenyellow;
    color: #ffffff;
    font-size: 11.7333px;
    font-style: normal;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}