.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
}
 .grid-item img {
    border: 1px solid orangered;
    width: 100%;
    cursor:pointer;
  }

img:hover{
    transform: scale(1.5);
  }

#text{
    height: auto;
    width: auto;
    background-color:black;
    text-align: center;
    border: 2px solid greenyellow;
    color: white;
   
}