.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item img {
    border: 1px solid orangered;
    width: 100%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

img:hover {
    transform: scale(1.5);
}

#text {
    
    background-color: black;
    text-align: center;
    border: 2px solid silver;
    color:silver;
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    padding: 15px;
}